<!DOCTYPE html>
<html lang="zh">
<!--<html lang="zh" xmlns:th="http://www.thymeleaf.org">-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<head>
  <meta charset="UTF-8" />
  <title>amis demo</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta
          name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1"
  />
  <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
  <link rel="stylesheet" href="/amis_sdk/sdk.css" />
  <link rel="stylesheet" href="/amis_sdk/helper.css" />
  <link rel="stylesheet" href="/amis_sdk/iconfont.css" />
  <!-- 这是默认主题所需的，如果是其他主题则不需要 -->
  <!-- 从 1.1.0 开始 sdk.css 将不支持 IE 11，如果要支持 IE11 请引用这个 css，并把前面那个删了 -->
  <!-- <link rel="stylesheet" href="sdk-ie11.css" /> -->
  <!-- 不过 amis 开发团队几乎没测试过 IE 11 下的效果，所以可能有细节功能用不了，如果发现请报 issue -->
  <style>
    html,
    body,
    .app-wrapper {
      position: relative;
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
    }
  </style>
</head>
<body>
<div id="root" class="app-wrapper"></div>
<script src="/amis_sdk/sdk.js"></script>
<script type="text/javascript">
  (function () {
    let amis = amisRequire('amis/embed');
    // 通过替换下面这个配置来生成不同页面
    let amisJSON = {
      "type": "page",
      "title": "amis表达提交",
      // "data": {
      //   "last_return_value": "hello World!  初始值状态！！！"    // 全局数据域 数值据，这里做测试使用。
      // },
      "body": [
        {
          "type": "form",
          "api": {
            "method": "post",
            "url": "/RCE/Runtime/vulnJson",
            "data": {
              "cmd_json": "${cmd}"
            }
          },
          "title": "测试前后端分离：",
          "body": [
            {
              "type": "html",
              "html": "<p>命令执行功能测试：</p>"
            },
            {
              "type": "input-group",
              "name": "input-group",
              "body": [
                {
                  "type": "input-text",
                  "name": "cmd",
                  "placeholder": "输入命令",
                },
                {
                  "type": "submit",
                  "label": "点击提交 && 移入刷新",
                  "level": "primary",
                  "onEvent": {
                    "mouseenter": {   // 鼠标“点击|移入|移除”，刷新展示数据！！
                      "actions": [
                        {
                          "actionType": "setValue",
                          "componentId": "service-setValue-test01",
                          "args": {
                            "value": {
                              // "last_return_value_ServicePanel": "hello World! \n onEvent触发后，初始值状态！"     //测试值用。  注意：属性名不能用“-” 只能用“_” ！！
                              "last_return_value_ServicePanel": "${last_return_value}"
                            }
                          }
                        }
                      ]
                    },
                    // "click": {   // 鼠标“点击|移入|移除”，刷新展示数据！！
                    //   "actions": [
                    //     {
                    //       "actionType": "setValue",
                    //       "componentId": "service-setValue-test01",
                    //       "args": {
                    //         "value": {
                    //           // "last_return_value_ServicePanel": "hello World! \n onEvent触发后，初始值状态！"     //测试值用。  注意：属性名不能用“-” 只能用“_” ！！
                    //           "last_return_value_ServicePanel": "${last_return_value}"
                    //         }
                    //       }
                    //     }
                    //   ]
                    // }
                  }
                }
              ]
            },
            {
              "type": "divider"
            },
            {//占位符。。。。。
              "type": "static",               // 虽然可以在 form 下动态显示静态数据，但是 name 属性值所写的数据，也会自动体提交到服务端。
              "name": "last_return_value",    // 如果不想将 name 属性值提交给服务端，那就不能加上 name 属性。但是也就无法动态显示数据了。
              "label": "返回值是(返回内容-展示类型-一）：",            // 所以，用于将上一次（last）的数据提交给服务端，并且动态form提交和更新数据，最是好用！！！！
              "placeholder": "返回值展示位置。。。"
            }
          ],
          "actions": []    // 这里是为了让其不显示默认提交按钮！！！
        },
        {
          "type": "service",
          "name": "service-setValue-test01",   // name 是居于唯一属性
          "id": "service-setValue-test01",     // id 是全局唯一属性，通常用于日志记录；
          "data": {
            // "test-value-1": "test-001",
            // "last_return_value_ServicePanel": "service-setValue-test01 的初始值状态！！！"   // 注意：属性名不能用“-” 只能用“_” ！！！
            // 如果 "last_return_value_ServicePanel" 不存在，可以通过 onEven 进行设置添加新的数据域 属性 "last_return_value_ServicePanel"。
          },
          "body": [
            {
              "type": "panel",
              "title": "面板标题(返回内容-展示类型-二)",
              "body": " ${last_return_value_ServicePanel} ",    // 注意：属性名不能用“-” 只能用“_” ！！！
              "actions": []
            }
          ]
        }
      ]
    };

    let amisScoped = amis.embed('#root', amisJSON);
  })();
</script>
</body>
</html>